<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 class="text-white">Angular CRUD</h1>
        <div class="d-flex">
            <button type="button" (click)="addEmp()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add
                Employee</button>
        </div>
    </div>
</nav>
<table class="table mt-2">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Mobile Number</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
            <td>
                <button class="btn btn-success"  (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">edit</button>
                <button class="btn btn-danger mx-3"  (click)="empDelete(row)">delete</button>
            </td>
        </tr>
    </tbody>
</table>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                <div class="mb-3">
                    <label  class="form-label">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName"
                        placeholder="First Name">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName"
                        placeholder="Last Name">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email"
                        placeholder="Email">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Mobile No</label>
                    <input type="text" class="form-control" formControlName="mobile"
                        placeholder="Mobile no">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Salary</label>
                    <input type="text" class="form-control" formControlName="salary"
                        placeholder="Salary">
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success" *ngIf="addShow" (click)="postEmployeedetails()">Add</button>
                <button type="button" class="btn btn-success" *ngIf="addUpdate" (click)="updateEmployeedetails()">Update</button>
            </div>
        </div>
    </div>
</div>